.cor-nome {
  color: #fff;
  font-family: "Courier New", Courier, monospace;
}

h2 {
  color: black;
  margin: 0;
  background-color: cyan;
}

ol {
  margin: 0;
  background-color: aqua;
}
.div {
  color: crimson;
  background-color: #fff;
}
.div{
  background-color: black;
  size: 20px;
}