.cor-nome {
  margin: 2%;
  color: black;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

h2 {
  color: black;
  margin: 1%;
  background-color: cyan;
}

ol {
  margin: 1%;
  background-color: aqua;
}
.div-titulo {
  margin: 3%;
  color: black;
  background-color:  darkcyan;
}
.div-img{
  font-size: 10px;
  background-color: deeppink
}
